.sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 10px;
}

.privacy-policy-container {
  display: flex;
}

.toc {
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background: #0a1d56;
  border-right: 1px solid #52d3d8;
  flex: 0 0 250px;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc ul li {
  margin-bottom: 10px;
}

.toc ul li a {
  text-decoration: none;
  color: #52d3d8;
}

.toc ul li a:hover {
  text-decoration: underline;
}

.toc ul li.active a {
  font-weight: bold;
  color: #52d3d8;
}

.privacy-policy-content {
  flex: 1;
  padding: 20px;
}

h2,
h3 {
  margin-top: 50px;
}

.undertitle {
  color: #ffffff;
}

.toc-color {
  color: #52d3d8;
}

h2,
h3,
p {
  color: #ffffff;
}
