.logos {
  background-color: #0a1d56;
  border: 2px solid #52d3d8;
}

.logos:hover {
  background-color: #52d3d8;
  border: 2px solid #0a1d56;
}

.brand:hover {
  background-color: #52d3d8;
}

.to-link {
  text-decoration: underline;
  font-family: "Jockey One", sans-serif;
  color: #52d3d8;
  font-size: 16px;
}

.proper-boxing {
  margin-top: 10px;
}

.subtitle {
  font-family: "Jockey One", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
}

.name-styling {
  color: #fff;
}
